<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arm_robot">

  <xacro:include filename="$(find dual_arm_support)/urdf/dual_arm_support.xacro" />
  <xacro:include filename="$(find left_arm_description)/urdf/left_arm.xacro" />
  <xacro:include filename="$(find right_arm_description)/urdf/right_arm.xacro" />
  <xacro:include filename="$(find gripper_description)/urdf/gripper.xacro" />

  <link name="base_footprint" />

  <xacro:dual_arm_support parent="base_footprint">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:dual_arm_support>

  <xacro:left_arm parent="left_arm_attachment_point">
    <origin xyz="0 0 0" rpy="0 1.5708 3.1416" />
  </xacro:left_arm>

  <xacro:right_arm parent="right_arm_attachment_point">
    <origin xyz="0 0 0" rpy="0 1.5708 0" />
  </xacro:right_arm>

  <xacro:gripper prefix="left_gripper_" parent="left_attachment_point">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gripper>

  <xacro:gripper prefix="right_gripper_" parent="right_attachment_point">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gripper>

  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>eiriarm_mujoco/MujocoHardware</plugin>
      <param name="model_path">$(find dual_arm_support)/mjcf/dual_arm_robot.xml</param>
    </hardware>

    <joint name="left_joint_0">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_3"> 
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_joint_6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_joint_0">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_1">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_2">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_3">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_4">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_5">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_joint_6">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="left_gripper_right_finger_joint">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_gripper_right_finger_joint">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

</robot>
